$tableHeaderP: 0.5rem

body
    padding: 0px
    margin:0px
.header
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    background: #707070
    a
        color: #fff
        font-size: 2rem
        margin: 0.5rem
        text-decoration-line: none

.container
    display: flex
    justify-content: center

.roomview
    background: #7c7c7c
    padding: 1rem
    margin: 1rem
    border-radius: 0.5rem
    .header_roomview
        p
            font-size: 2rem
    .description
        p

.overlay
    position: fixed
    top: 0px
    left: 0px
    display: flex
    justify-content: center
    z-index: 3
    width: 100%
    height: 100%
    background: #818181
    form
        display: flex
        justify-content: center
        flex-direction: column
        div
            display: flex
            justify-content: center
            flex-direction: column

.dashboard
    display: flex
    flex-direction: row
    justify-content: center
    justify-content: flex-start
    div
        display: flex
        flex-direction: column
        justify-content: flex-start

.preview
    img
        height: 20rem

.tableComponent
    background: #2c2c2c
    padding: 1rem
    border-radius: 0.2rem
    .table
        .table-header
            .table-header-row
                background: #fff
                .table-header-keys
                    padding-left: $tableHeaderP
                    padding-right: $tableHeaderP
        .table-body
            .table-body-row
                .table-body-data
                    color: #fff
                    text-align: center
                button
                    border-radius: 0.5rem
                    border: none
                    margin: 0.2rem
                .update
                    background: #126312
                .delete
                    background: #e01515
.login
    background: #cacaca
    border-radius: 0.5rem
    padding: 0.5rem
    form
        display: flex
        flex-direction: column
        div
            display: flex
            flex-direction: column
            label
                font-size: 1.2rem
                text-align: center
            input
                border-radius: 0.5rem
                border: none
                padding: 0.2rem
            button
                border-radius: 0.5rem
                margin: 0.2rem

